<button ng-click="defaultTemplate()" class="btn btn-success" type="button">Back</button>
<h1>Find your bookings</h1>
<p>Enter your booking id to find your bookings</p>
<input type="text" placeholder="Booking Id" id="bookingId" class="form-control" ng-model="bookingId">
<br>
<center><button type="button" class="btn btn-primary btn-lg"  ng-click="findMyB()">Find</button></center>
<form name="CustomerForm">

                        
                
        <p>Customer Name:
            <input name="cName" ng-model="cName" id="cName" placeholder="Customer Name" class="form-control"  required>
            <span ng-show="CustomerForm.cName.$touched && CustomerForm.cName.$invalid">Customer name is required.</span>
            </p>

        <p>NIC:
            <input name="nic" ng-model="nic" id="nic" placeholder="nic" class="form-control" required>
            <span ng-show="CustomerForm.nic.$touched && CustomerForm.nic.$invalid">NIC is required.</span>
        </p>

        

        <p>Phone Number:
            <input type="text" name="tp" ng-model="tp" id="tp" placeholder="Phone Number" class="form-control" required>
            <span ng-show="CustomerForm.tp.$touched && CustomerForm.tp.$invalid">Telephone number is required.</span>
         </p>

        <p>Arrive:
            <input name="arrive" ng-model="arrive" id="arrive" placeholder="Arrive date" class="form-control" required>
            <span ng-show="CustomerForm.arrive.$touched && CustomerForm.arrive.$invalid">Arrival date is required.</span>
        </p>

        <p>Depart:
                <input name="depart" ng-model="depart" id="depart" placeholder="depart date" class="form-control" required>
                <span ng-show="CustomerForm.depart.$touched && CustomerForm.depart.$invalid">Depart date is required.</span>
        </p>
        
        <center>
            <div id="msg">{{msg}}</div>
            <input class="btn btn-primary btn-lg" ng-click="updateData()" type="submit"  value="Update" ng-disabled="myBookingBtn || ((CustomerForm.cName.$dirty && CustomerForm.cName.$invalid) || (CustomerForm.nic.$dirty && CustomerForm.nic.$invalid) || (CustomerForm.tp.$dirty && CustomerForm.tp.$invalid) || (CustomerForm.arrive.$dirty && CustomerForm.arrive.$invalid) || (CustomerForm.depart.$dirty && CustomerForm.depart.$invalid))" >
            <input class="btn btn-danger btn-lg" type="button" ng-click="deleteMyBooking()" value="Delete" ng-disabled="myBookingBtn"  id="delete">
        </center>
    </form>