<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Load main script file -->

<style>
    #msg{
       color: red; 
    }
</style>
<body >

<div ng-app="myApp" ng-controller="myCtrl"> 
        <div class="jumbotron text-center">
                <div ng:include="'headder.html'"></div>
        </div>
        
        <div>   
                
                <center>
                        <p>Enter supplier Id : <input type="text" placeholder="Supplier Id" ng-model="supplierId" class="form-control"></p> 
                        <button class="btn btn-lg btn-primary" ng-click="findSupplier()">Find</button>
                    </center>
                  <div>
                    <form name="supplierForm">

                        <!-- <p>Supplier ID:
                            <input type="text" name="supId" ng-model="supId" placeholder="Supplier ID" class="form-control" required>
                            <span ng-show="supplierForm.supId.$touched && supplierForm.supId.$invalid">Supplier ID is required.</span>
                        </p> -->
                
                        <p>Supplier Name:
                            <input name="supName" ng-model="supName" id="supName" placeholder="Supplier Name" class="form-control" required>
                            <span ng-show="supplierForm.supName.$touched && supplierForm.supName.$invalid">Supplier Name is required.</span>
                        </p>
                
                        <p>Email:
                            <input name="Email" ng-model="Email" id="Email" placeholder="Email" class="form-control" required>
                            <span ng-show="supplierForm.Email.$touched && supplierForm.Email.$invalid">Email is required.</span>
                        </p>
                
                        <p>Company Name:
                            <input name="compName" ng-model="compName" id="compName" placeholder="Company Name" class="form-control" required>
                            <span ng-show="supplierForm.compName.$touched && supplierForm.compName.$invalid">Company Name is required.</span>
                        </p>
                
                        <p>Phone Number:
                            <input type="number" name="tp" ng-model="tp" id="tp" placeholder="Phone Number" class="form-control" required>
                            <span ng-show="supplierForm.tp.$touched && supplierForm.tp.$invalid">Phone Number is required.</span>
                        </p>
                
                        <p>Company Address:
                            <input name="compAddress" ng-model="compAddress" id="compAddress" placeholder="Company Address" class="form-control" required>
                            <span ng-show="supplierForm.compAddress.$touched && supplierForm.compAddress.$invalid">Company Address is required.</span>
                        </p>
                        <div id="msg"></div>
                        <center>
                            <input class="btn btn-primary btn-lg" type="submit"  id="submit" ng-disabled="(supplierForm.supName.$dirty && supplierForm.supName.$invalid) ||  (supplierForm.Email.$dirty && supplierForm.Email.$invalid) || (supplierForm.compName.$dirty && supplierForm.compName.$invalid) || (supplierForm.tp.$dirty && supplierForm.tp.$invalid) || (supplierForm.compAddress.$dirty && supplierForm.compAddress.$invalid)" ng-click="addSupplier()">
                        </center>
                    </form>
                  </div>
                
                
                <!-- <div ng:include="template.url"></div> -->
                   
                     
                    
        </div>
    

</div>

<script>
    
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {

            

            $scope.findSupplier = function(){
                var id = $scope.supplierId;
                console.log("supplier id is "+id);
                $http({
                    method : "GET",
                    url : "http://localhost:3000/supplier/"+id
                }).then(function mySuccess(response) {
    
                    supplier = response.data;
                    // $scope.data = supplier;
                    console.log(supplier);
                    $scope.supName = supplier[0].s_name;
                    $scope.Email = supplier[0].s_email;
                    $scope.compName = supplier[0].s_company;
                    $scope.tp = supplier[0].s_phone;
                    $scope.compAddress = supplier[0].s_comaddress;
                    }, function myError(response) {
                    // $scope.result = response.statusText;
                });
            }

           


           
        });
    
    
    
    </script>

</body>
</html>