<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Load main script file -->
<script src="hall.js"></script>
<style>
    #msg{
       color: red; 
    }
</style>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 
        <div class="jumbotron text-center">
            <h1>Reservation Sysytem Hall</h1>
            <a href="hall.html"><button class="btn btn-lg btn-primary">Hall</button></a>
                
            <a href="room.html"><button class="btn btn-lg btn-primary">Room</button></a>
        </div>
        
        <div>
                <center>
                      <p>Search : <input type="text" placeholder="Search" ng-model="globalSearch.$" class="form-control"></p> 
                </center>
                <table class="table table-hover table-bordered table-striped table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Tel</th>
                            <th>Nic</th>
                            <th>Address</th>
                            <th>Booking date</th>
                            <th>Function Date</th>
                        </tr>
                        <tr ng-repeat="x in data | filter:globalSearch">
                            <td>{{x.h_rid}}</td>
                            <td>{{x.h_cname}}</td>
                            <td>{{x.h_phone}}</td>
                            <td>{{x.h_nic}}</td>
                            <td>{{x.h_address}}</td>
                            <td>{{x.h_bookingdate}}</td>
                            <td>{{x.h_functiondate}}</td>
                        </tr>
                    </table>
                
                <!-- <div ng:include="template.url"></div> -->
                   
                     
                    
        </div>
    

</div>



</body>
</html>