<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Load main script file -->

<style>
    #msg{
       color: red; 
    }
</style>
<body >

<div ng-app="myApp" ng-controller="myCtrl"> 
        <div class="jumbotron text-center">
                <div ng:include="'headder.html'"></div>
        </div>
        
        <div>   
                
                <center>
                        <p>Enter Customer Booking Id : <input type="text" placeholder="Customer Id" ng-model="CustomerId" class="form-control"></p> 
                        <button class="btn btn-lg btn-primary" ng-click="find()">Find</button>
                    </center>
                  <div>
                    <form name="CustomerForm">

                        
                
                        <p>Customer Name:
                            <input name="cName" ng-model="cName" id="cName" placeholder="Customer Name" class="form-control"  readonly>
                        </p>
                
                        <p>NIC:
                            <input name="nic" ng-model="nic" id="nic" placeholder="nic" class="form-control" readonly>
                        </p>
                
                        
                
                        <p>Phone Number:
                            <input type="text" name="tp" ng-model="tp" id="tp" placeholder="Phone Number" class="form-control" readonly>
                         </p>
                
                        <p>Arrive:
                            <input name="arrive" ng-model="arrive" id="arrive" placeholder="Arrive date" class="form-control" readonly>
                           </p>

                        <p>Depart:
                                <input name="depart" ng-model="depart" id="depart" placeholder="depart date" class="form-control" readonly>
                                </p>


                        <p>Number of single rooms:
                                    <input type="number"  name="sR" ng-model="sR" id="sR" placeholder="Number of single rooms" class="form-control" required>
                                    <span ng-show="CustomerForm.sR.$touched && CustomerForm.sR.$invalid">Number of single rooms is required.</span>
                        </p>


                        <p>Number of double rooms:
                                <input type="number"  name="dR" ng-model="dR" id="dR" placeholder="Number of double rooms" class="form-control" required>
                                <span ng-show="CustomerForm.dR.$touched && CustomerForm.dR.$invalid">Number of double rooms is required.</span>
                        </p>


                        <p>Room Type:
                                <input type="text"  name="roomType" ng-model="roomType" id="roomType" placeholder="Room type" class="form-control" required>
                                <span ng-show="CustomerForm.roomType.$touched && CustomerForm.roomType.$invalid">Room type is required.</span>
                        </p>

                        <p>Service Type:
                                <input type="text"  name="serviceType" ng-model="serviceType" id="serviceType" placeholder="Room type" class="form-control" required>
                                <span ng-show="CustomerForm.serviceType.$touched && CustomerForm.serviceType.$invalid">Service type is required.</span>
                        </p>
                        
                        <center>
                            <div id="msg">{{msg}}</div>
                            <input class="btn btn-primary btn-lg" ng-click="updateData()" type="submit"  id="submit" ng-disabled="((CustomerForm.sR.$dirty && CustomerForm.sR.$invalid) ||  (CustomerForm.dR.$dirty && CustomerForm.dR.$invalid) || (CustomerForm.roomType.$dirty && CustomerForm.roomType.$invalid) || (CustomerForm.serviceType.$dirty && CustomerForm.serviceType.$invalid))" ng-click="updateData()">
                        </center>
                    </form>
                  </div>
                
                
                <!-- <div ng:include="template.url"></div> -->
                   
                     
                    
        </div>
    

</div>

<script>
    
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {

            $scope.sR = 0;
            $scope.dR = 0;


            $scope.updateData = function(){
              var id = $scope.CustomerId;
              var sR = $scope.sR;
              var dR = $scope.dR;
              var roomType = $scope.roomType;
              var serviceType = $scope.serviceType;

              var data = {
                  id:id,
                  sR:sR,
                  dR:dR,
                  roomType:roomType,
                  serviceType:serviceType
              }
              if(id == undefined){
                  $scope.msg = "ID is empty";
              }else
                {
                    $http({
                        method : "POST",
                        url : "http://localhost:3000/roomUpdate/",
                        data:data
                    }).then(function mySuccess(response) {
    
                        room = response.data;
                        console.log(room);
                        $scope.msg = "Done";
                    }, function myError(response) {
                    // $scope.result = response.statusText;
                });
                }
            }

            $scope.find = function(){
                var id = $scope.CustomerId;
                console.log("Customer id is "+id);
                $http({
                    method : "GET",
                    url : "http://localhost:3000/roomBooking/"+id
                }).then(function mySuccess(response) {
    
                    Customer = response.data;
                    // $scope.data = Customer;
                    console.log(Customer);
                    console.log("length "+Customer.length);

                    if(Customer.length == 1){
                        $scope.cName = Customer[0].r_cname;
                        $scope.nic = Customer[0].r_nic;
                        $scope.tp = Customer[0].r_phone;
                        $scope.arrive = Customer[0].check_in;
                        $scope.depart = Customer[0].check_out;
                        $scope.sR = Customer[0].no_singleroom;
                        $scope.dR = Customer[0].no_doubleroom;
                        $scope.roomType = Customer[0].roomType;
                        $scope.serviceType = Customer[0].serviceType;
                        // $scope.tp = Customer[0].s_phone;
                        // $scope.compAddress = Customer[0].s_comaddress;
                    }else{
                        // $scope.cName = "";
                        // $scope.Email = "";
                        // $scope.compName = "";
                        // $scope.tp = "";
                        // $scope.compAddress = "";
                       
                    }
                    }, function myError(response) {
                    // $scope.result = response.statusText;
                });
            }

           
            

           
        });
    
    
    
    </script>

</body>
</html>