<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Load main script file -->

<style>
    #msg{
       color: red; 
    }
</style>
<body >

<div ng-app="myApp" ng-controller="myCtrl"> 
        <div class="jumbotron text-center">
                <div ng:include="'headder.html'"></div>
        </div>
        
        <div>   
                
                <center>
                        <p>Enter Customer Booking Id : <input type="text" placeholder="Customer Id" ng-model="CustomerId" class="form-control"></p> 
                        <button class="btn btn-lg btn-primary" ng-click="findCustomer()">Find</button>
                    </center>
                  <div>
                    <form name="CustomerForm">

                        <!-- <p>Customer ID:
                            <input type="text" name="supId" ng-model="supId" placeholder="Customer ID" class="form-control" required>
                            <span ng-show="CustomerForm.supId.$touched && CustomerForm.supId.$invalid">Customer ID is required.</span>
                        </p> -->
                
                        <p>Customer Name:
                            <input name="supName" ng-model="supName" id="supName" placeholder="Customer Name" class="form-control"  readonly>
                            <span ng-show="CustomerForm.supName.$touched && CustomerForm.supName.$invalid">Customer Name is required.</span>
                        </p>
                
                        <p>Email:
                            <input name="Email" ng-model="Email" id="Email" placeholder="Email" class="form-control" readonly>
                            <span ng-show="CustomerForm.Email.$touched && CustomerForm.Email.$invalid">Email is required.</span>
                        </p>
                
                        <p>Company Name:
                            <input name="compName" ng-model="compName" id="compName" placeholder="Company Name" class="form-control" readonly>
                            <span ng-show="CustomerForm.compName.$touched && CustomerForm.compName.$invalid">Company Name is required.</span>
                        </p>
                
                        <p>Phone Number:
                            <input type="text" name="tp" ng-model="tp" id="tp" placeholder="Phone Number" class="form-control" required>
                            <span ng-show="CustomerForm.tp.$touched && CustomerForm.tp.$invalid">Phone Number is required.</span>
                        </p>
                
                        <p>Company Address:
                            <input name="compAddress" ng-model="compAddress" id="compAddress" placeholder="Company Address" class="form-control" required>
                            <span ng-show="CustomerForm.compAddress.$touched && CustomerForm.compAddress.$invalid">Company Address is required.</span>
                        </p>
                        <div id="msg"></div>
                        <center>
                            <input class="btn btn-primary btn-lg" ng-click="save()" type="submit"  id="submit" ng-disabled="(CustomerForm.supName.$dirty && CustomerForm.supName.$invalid) ||  (CustomerForm.Email.$dirty && CustomerForm.Email.$invalid) || (CustomerForm.compName.$dirty && CustomerForm.compName.$invalid) || (CustomerForm.tp.$dirty && CustomerForm.tp.$invalid) || (CustomerForm.compAddress.$dirty && CustomerForm.compAddress.$invalid)" ng-click="addCustomer()">
                        </center>
                    </form>
                  </div>
                
                
                <!-- <div ng:include="template.url"></div> -->
                   
                     
                    
        </div>
    

</div>

<script>
    
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {

            

            $scope.findCustomer = function(){
                var id = $scope.CustomerId;
                console.log("Customer id is "+id);
                $http({
                    method : "GET",
                    url : "http://localhost:3000/Customer/"+id
                }).then(function mySuccess(response) {
    
                    Customer = response.data;
                    // $scope.data = Customer;
                    console.log(Customer);
                    console.log("length "+Customer.length);

                    if(Customer.length == 1){
                        $scope.supName = Customer[0].s_name;
                        $scope.Email = Customer[0].s_email;
                        $scope.compName = Customer[0].s_company;
                        $scope.tp = Customer[0].s_phone;
                        $scope.compAddress = Customer[0].s_comaddress;
                    }else{
                        $scope.supName = "";
                        $scope.Email = "";
                        $scope.compName = "";
                        $scope.tp = "";
                        $scope.compAddress = "";
                       
                    }
                    }, function myError(response) {
                    // $scope.result = response.statusText;
                });
            }

           
            $scope.save = function(){
                var id = $scope.CustomerId;
                var name =  $scope.supName;

                var Email = $scope.Email ;
                var compName = $scope.compName;
                var tp =  $scope.tp;
                var compAddress = $scope.compAddress;

                var d = {
                    id:id,
                    name:name,
                    Email:Email,
                    compName:compName,
                    tp:tp,
                    compAddress:compAddress
                }
                console.log("Customer name is "+JSON.stringify(d));
                $http({
                    method : "POST",
                    url : "http://localhost:3000/editCustomer/",
                    data:d
                }).then(function mySuccess(response) {
    
                    Customer = response.data;
                    // $scope.data = Customer;
                    console.log(Customer);
                    
                    }, function myError(response) {
                    // $scope.result = response.statusText;
                });
            }

           
        });
    
    
    
    </script>

</body>
</html>