<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Load main script file -->
<script src="hall.js"></script>
<style>
    #msg{
       color: red; 
    }
</style>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 
        <div class="jumbotron text-center">
            <h1>Supplier</h1>
        </div>
        
        <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

            <input type="text" id="sup_id" placeholder="Supplier ID" ng-model="" class="form-control"><br>
            <input type="text" id="sup_name" placeholder="Supplier Name" ng-model="" class="form-control"><br>
            <input type="text" id="email" placeholder="Email" ng-model="" class="form-control"><br>
            <input type="text" id="company_name" placeholder="Company Name" ng-model="" class="form-control"><br>
            <input type="text" id="tp" placeholder="Phone Number" ng-model="" class="form-control"><br>
            <input type="text" id="company_address" placeholder="Company Address" ng-model="" class="form-control"><br>

            <button class="btn btn-primary btn-lg" type="button" id="submit" onclick="">Submit</button>

        </div>
        <div class="col-lg-2"></div>
        </div>
</div>



</body>
</html>