<!DOCTYPE html>
<html>

<style>
    #msg{
       color: red; 
    }
</style>
<body>

<div > 
        
        
        <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <form name="myForm">
            <input type="text"   ng-model="sup_id"  required><br>
            <input type="text" id="sup_name" placeholder="Supplier Name" ng-model="sup_name" class="form-control"><br>
            <input type="text" id="email" placeholder="Email" ng-model="email" class="form-control"><br>
            <input type="text" id="company_name" placeholder="Company Name" ng-model="company_name" class="form-control"><br>
            <input type="text" id="tp" placeholder="Phone Number" ng-model="tp" class="form-control"><br>
            <input type="text" id="company_address" placeholder="Company Address" ng-model="company_address" class="form-control"><br>
            <div id="msg"></div>
            <button class="btn btn-primary btn-lg" type="button" id="submit" >Submit</button>
        </form>
        </div>
        <div class="col-lg-2"></div>
        </div>
</div>



</body>
</html>